---
import Icon from '../../components/Icon.astro'
import Layout from '../../layouts/Layout.astro'
import Link from '../../components/Link.astro'
import { getId } from '../../lib/getId'
import { events, getEventSchedule } from '../../lib/events'

import { format } from 'date-fns/format'
import { formatDuration } from 'date-fns/formatDuration'
import { toDate } from 'date-fns/toDate'

if (!Astro.params.eventId || !/^\d+$/.test(Astro.params.eventId)) {
	return Astro.redirect('/404')
}

const eventId = parseInt(Astro.params.eventId)
const schedule = await getEventSchedule(eventId).catch(() => null)
if (!schedule) return Astro.redirect('/404')

function getYouTubeThumbnail(url: string) {
	return `https://i.ytimg.com/vi/${url.replace('https://youtu.be/', '')}/maxresdefault.jpg`
}

const eventMap = new Map(events)
const eventTitle = eventMap.get(eventId)?.name ?? schedule.name
const eventShortTitle = eventMap.get(eventId)?.shortName ?? schedule.short
---

<Layout title={`${eventTitle} | GDQ schedules`}>
	<h1 data-text="heading6">{eventShortTitle} schedule</h1>
	<div class="nav">
		<nav>
			{
				schedule.days.map(({ id, date }, index) => (
					<>
						{index > 0 && ` `}
						<a href={`#${id}`}>{format(date, `EEEE'\n'do`)}</a>
					</>
				))
			}
		</nav>
	</div>
	<main id="main">
		{
			schedule.days.map(({ date, id, segments }) => (
				<article>
					<hgroup>
						<h2 data-text="heading1" id={id}>
							Event {format(date, 'EEEE')}
						</h2>
						<p>{format(date.slice(0, 19), 'MMMM do, yyyy')}</p>
					</hgroup>
					{segments.map((run) => {
						if (run.type === 'segment') {
							return run.items.map((item) => (
								<p style="padding-left: calc(6ch + 16px); padding-left: calc(round(6ch, 1rem) + 16px); margin-block: 1.5rem;">
									{item.topic}
								</p>
							))
						}

						const date = toDate(run.starttime)
						const [hour, min] = run.run_time.split(':')
						const duration = formatDuration({
							hours: Number(hour) || 0,
							minutes: Number(min) || 0,
						}).replace(/\s(\d)/g, (_, $1) => `\n${$1}`)

						const runId = getId(`run ${run.id} ${run.name} ${run.category}`)

						return (
							<section class="card">
								<hgroup>
									<p data-text="14">
										<a aria-describedby={runId} class="run" href={`#${runId}`}>
											<locale-time-string datetime={run.starttime}>
												{date.toLocaleTimeString(undefined, {
													hour: 'numeric',
													minute: 'numeric',
												})}
											</locale-time-string>
										</a>
										<br />
										{run.video_links.length > 0 && (
											<Link class="video" data-text="link" href={run.video_links[0].url}>
												<span data-text="visuallyHidden">Watch {run.name} on YouTube</span>
												<Icon href="/icons/social/youtube.svg" size={2} />
											</Link>
										)}
									</p>
									<h3 id={runId} data-text="16">
										{run.name}
									</h3>
									<p data-text-color="current">
										<span>{run.category}&ensp;</span>
										{run.run_time.includes(':') ? (
											<small data-box="inline" data-text-color="muted">
												Estimate {run.run_time}
											</small>
										) : null}
									</p>
								</hgroup>
								<dl class="people" data-grid="auto" style="--grid-auto: 15rem">
									<div>
										<dt data-text="14">By</dt>
										<dd data-box="row" data-text="14" style="row-gap: 8px;">
											{run.runners.map(({ name, pronouns }) => (
												<span>
													{name}
													<br />
													<small data-text-color="muted">
														{pronouns
															.split(',')[0]
															.toLowerCase()
															.replace(/\s*\/\s*/g, ' / ')}
													</small>
												</span>
											))}
										</dd>
									</div>
									{run.commentators.length > 0 ? (
										<div>
											<dt data-text="14">
												<Icon href="/icons/speaker-2.svg" title="Commentators" />
												<span data-text="visuallyHidden">Commentators</span>
											</dt>
											<dd data-box="row" data-text="14" style="row-gap: 8px;">
												{run.commentators.map(({ name, pronouns }) => (
													<span>
														{name}
														<br />
														<small data-text-color="muted">
															{pronouns
																.split(',')[0]
																.toLowerCase()
																.replace(/\s*\/\s*/g, ' / ')}
														</small>
													</span>
												))}
											</dd>
										</div>
									) : (
										<div />
									)}
									{run.hosts.length > 0 && (
										<div>
											<dt data-text="14">
												<Icon href="/icons/microphone.svg" title="Hosts" />
												<span data-text="visuallyHidden">Hosts</span>
											</dt>
											<dd data-box="row" data-text="14" style="row-gap: 8px;">
												{run.hosts.map(({ name, pronouns }) => (
													<span>
														{name}
														<br />
														<small data-text-color="muted">
															{pronouns
																.split(',')[0]
																.toLowerCase()
																.replace(/\s*\/\s*/g, ' / ')}
														</small>
													</span>
												))}
											</dd>
										</div>
									)}
								</dl>
							</section>
						)
					})}
				</article>
			))
		}
		{
			schedule.days.length === 0 ? (
				<div data-grid="centerItems">
					<p data-text="24">Schedule has not been released yet.</p>
					<p class="return">
						<Icon href="/icons/arrow-left.svg" />
						<a href="/">Back to GDQ schedules home</a>
					</p>
				</div>
			) : (
				<p class="return">
					<Icon href="/icons/arrow-left.svg" />
					<a href="/">Back to GDQ schedules home</a>
				</p>
			)
		}
	</main>
	<script>
		import { toDate } from 'date-fns/toDate'

		class LocaleTimeString extends HTMLElement {
			static {
				customElements.define('locale-time-string', this)
			}

			constructor() {
				super()

				const datetime = this.getAttribute('datetime')

				if (typeof datetime === 'string') {
					this.innerText = toDate(datetime).toLocaleTimeString(undefined, {
						hour: 'numeric',
						minute: 'numeric',
					})
				}
			}
		}
	</script>
</Layout>
<style>
	main {
		padding-bottom: calc(75vh - 15rem);
		padding-bottom: calc(75dvh - 15rem);
	}

	article {
		container-type: inline-size;
	}
	h1,
	h2 {
		background: linear-gradient(90deg, #f89a66, #fc6793);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		filter: drop-shadow(0 0 1px black) drop-shadow(1px 1px 0 black);
	}

	h1 {
		border-bottom: thin solid;
		border-bottom-color: color-mix(in oklab, currentColor, transparent 75%);
		margin: 0;
		padding: 0.25rem;
		position: relative;
		text-align: center;
		z-index: 2;
	}

	h2 {
		scroll-margin-top: 4rem;
	}

	h3 {
		scroll-margin-top: 4rem;
		text-wrap: balance;
	}

	hgroup:has(> h2) {
		display: grid;
		margin-top: 3rem;
	}

	hgroup:has(> h3) {
		column-gap: 16px;
		display: grid;
		grid-template-areas: 'time title' 'time category';
		grid-template-columns: 6ch auto;
		grid-template-columns: round(6ch, 1rem) auto;
		grid-template-rows: auto 1fr;
		margin-bottom: 0.25rem;
	}

	hgroup:has(> h3) > p:first-child {
		text-align: right;
		grid-area: time;
	}

	hgroup:has(> h3) > h3 {
		grid-area: title;
	}

	hgroup:has(> h3) > h3 ~ p {
		grid-area: category;
	}

	hgroup:has(> h3) > h3 ~ p span {
		min-width: 12rem;
	}

	.nav {
		background: Canvas;
		color: CanvasText;
		box-shadow: 0 0 1rem Canvas;
		isolation: isolate;
		overflow: hidden;
		overflow-x: auto;
		padding-inline: 1.5rem;
		position: sticky;
		text-align: center;
		top: -1px;
		-webkit-overflow-scrolling: touch;
		z-index: 1;
	}

	nav {
		column-gap: 12px;
		display: inline-flex;
		white-space: nowrap;
	}

	nav a {
		color: inherit;
		display: inline-block;
		padding: 0.25rem;
		white-space: pre-wrap;
	}

	:where(nav a, .run):not(:hover, :focus, :active) {
		text-decoration: none;
	}

	.run {
		font-family: var(--mono-font);
		position: relative;
	}

	.run::before {
		bottom: 0;
		content: '#';
		display: grid;
		opacity: 0.25;
		padding-right: 0.25rem;
		place-content: center;
		position: absolute;
		right: 100%;
		top: 0;
	}

	.run:hover::before {
		opacity: 1;
		scale: 1.125;
	}

	.return {
		margin-top: 48px;
	}

	.card {
		background: var(--muted-04);
		border: thin solid var(--muted-10);
		border-radius: 16px;
		margin-block: 8px;
		padding: 16px;
	}

	@container (width < 25rem) {
		.card {
			margin-inline: -12px;
			padding-inline: 12px;
		}
	}

	.video {
		display: inline-grid;
	}

	.video > :global(svg) {
		height: auto;
		width: 3.5ch;
		width: round(3.5ch, 0.25rem);
	}

	.video:not(:hover, :focus, :active) {
		opacity: 0.5;
	}

	.people > div {
		display: grid;
		gap: 4px 16px;
		grid-template-columns: 6ch auto;
		grid-template-columns: round(6ch, 1rem) auto;
		line-height: 1.25;
		margin: 0;
	}

	.people > div > dt {
		text-align: right;
	}

	.people > div > dt > :global(svg) {
		height: auto;
		width: 2ch;
		width: round(2ch, 0.25rem);
	}
</style>
